{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}
<div class="container" style="padding-top: 70px;">

<h1>{{user.first_name}}</h1>
<p>Blasts {{ user.blasts| length }} </p>
{% if current_user != user %}
	<form action="/blast" method="POST" class="form" role="form">
		<input type="hidden" name="blast_user" value="{{ user.user_auth.username }}" />
		<button type="submit">blast</button>
	</form>
{% endif %}

</div>
{% endblock %}