{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}
<div class="container">
  <div class="row" style="padding-top:60px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
	<div class="panel-heading"><h3>Register</h3></div>
	<div class="panel-body">
	  
	  {% from "base_templates/form_macros.html" import render_field, render_submit_field %}
	  <form action="" method="POST" class="form" role="form">

	    {{ form.hidden_tag() }}

	    {{ render_field(form.first_name, tabindex=240) }}
	    
	    {{ render_field(form.username, tabindex=250) }}
	    {{ render_field(form.email, tabindex=250) }}
	    {{ render_field(form.password, tabindex=250) }}
	    
	    {{ render_submit_field(form.submit, tabindex=280) }}
	  </form>
	</div>
	
      </div>
    </div>
  </div>
</div>

{% endblock %}
