{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}

<div class="container" style="padding-top: 70px;">
          
<p>You have {{ remaining_posters }} you can create</p>
{# 
<p><a href="{{ url_for('user.change_username') }}">Change username</a></p>
<p><a href="{{ url_for('user.change_password') }}">Change password</a></p> #}
{# http://www.jqueryrain.com/?Qoeemzn0 #}
{% from "base_templates/form_macros.html" import render_field, render_submit_field %}
<form action="" method="POST" class="form" role="form">
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4">
    {{ form.hidden_tag() }}

    {{ render_field(form.title, tabindex=240) }}
    {{ render_field(form.date, tabindex=240, id='datetimepicker1') }}   
    {% if show_slug %}
         {{ render_field(form.slug, tabindex=240) }} 
     {% endif %} 
    {{ render_field(form.abstract, tabindex=250) }}
    {# {{ render_field(form.authors, tabindex=250) }} #}
    {{ render_field(form.contact, tabindex=250) }}

    {{ render_submit_field(form.submit, tabindex=280) }}
    </div>
  </div>
</form>
</div>


{% endblock %}