{% extends "base_templates/page_base.html" %}  {# base_templates/page_base.html extends base_templates/base.html #}

{% block main %}
<div class="container fill" style="background: #ffffff;">

    <div class="col-md-6">
      <h3>Pending</h3>
      <table class="table">
      {% for  item in pending %}
      <tr class="active">
	<td> {{ item.creater}} </td>
	<td> <button type="button" class="btn btn-success">Confirm</button> <button type="button" class="btn btn-danger">Dispute</button></td>
      </tr>
      {% else %}
      <tr>Nothing pending..</tr>
      {% endfor %}
    </table>
    </div>
  
  <div class="col-md-6">
    <h3>others</h3>    
      <table class="table">
	{% for  item in other %}
	<tr>
	  <td>{{item.creater }} </td>
	  <td>{{itme.status }} </td>
	</tr>
	{% else %}
	<tr>Nothing here</tr>
	{% endfor %}
      </table>
    </div>
  
</div>
{% endblock %}
