{% extends "base.html" %}
{% block content %}
<form action="" method="POST" novalidate formnovalidate class="form" role="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Member you blasted:</label>

        <select name="user" class="form-control">

            {% for user in users %}

                <option value="{{ user.username }}">{{ user.username }}</option>

            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>


{% endblock %}