/**** element styles ****/
/*hr { border-color: #cccccc; margin: 0px; }*/

/**** header, main and footer divs ****/
/*.header-title { font-size: 30px; }*/

/**** class-based style modifiers ****/

/*.no-margins { margin: 0px; }

.with-margins { margin: 10px; }

.col-centered { float: none; margin: 0 auto; }


.divider {
    height:50px;
}
*/
body,input { font-family: 'Montserrat', sans-serif;   background: #fad763;}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

.bg-1 {
  background: #bbe9dc;
}

.navbar{
    margin-bottom: 0px;
}