/**** element styles ****/
/*hr { border-color: #cccccc; margin: 0px; }*/

/**** header, main and footer divs ****/
/*.header-title { font-size: 30px; }*/

/**** class-based style modifiers ****/

/*.no-margins { margin: 0px; }

.with-margins { margin: 10px; }

.col-centered { float: none; margin: 0 auto; }


.divider {
    height:50px;
}
*/



/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}
section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}
